.error {
  color: red;
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  text-align: center;
  background: lightgrey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}